h2.leftPadding {
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3.noTopMargin {
  margin-top: 0px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}